@model GiellyGreenApi.Models.CombineSupplierInvoice


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @{
        Layout = "";
    }

    <div class="container">
        <table>
            <tr>
                <td>
                    @*@if (@Model.Supplier.LogoUrl != null)
                        {
                            <span></span>
                        }*@
                </td>
                <td><h3 class="text-secondary" style="color:silver;">Self-Billed Invoice</h3></td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Supplier.BusinessAddress)</td>
                <td>
                    <div>
                        <p>
                            Invoice Date:  @Html.DisplayFor(model => model.Month_Header.InvoiceDate)
                        </p>
                        <p>
                            Invoice Ref:  @Html.DisplayFor(model => model.Month_Header.InvoiceReferance)
                        </p>
                        <p>Tax Ref:  @Html.DisplayFor(model => model.Supplier.TaxReference)</p>
                        @if (Model.Supplier.TaxReference != null)
                        {
                            <p>Tax Ref:  @Html.DisplayFor(model => model.Supplier.TaxReference)</p>
                        }
                        @if (Model.Supplier.VatNumber != null)
                        {
                            <p>VAT Number:  @Html.DisplayFor(model => model.Supplier.VatNumber)</p>
                        }
                        <p>VAT Number:  @Html.DisplayFor(model => model.Supplier.VatNumber)</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>To: </td>
                <td>@Html.DisplayFor(model => model.Supplier.CompanyRegAddress)</td>
            </tr>
        </table>
        <br />
        <table class="table table-bordered">
            <tr>
                <td>Description</td>
                <td></td>
                <td style="text-align:right;">Amount(GBP)</td>
            </tr>
            @if (Model.Invoice.HairService != null)
            {
                <tr>
                    <td>Hair Services</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.Invoice.HairService)</td>
                </tr>
            }
            @if (Model.Invoice.BeautyService != null)
            {
                <tr>
                    <td>Beauty Services</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.Invoice.BeautyService)</td>
                </tr>
            }
            @if (Model.Month_Header.Custom1 != null)
            {
                <tr>
                    <td>@Html.DisplayFor(model => model.Month_Header.Custom1)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.Invoice.Custom1)</td>
                </tr>
            }
            @if (Model.Month_Header.Custom2 != null)
            {
                <tr>
                    <td>@Html.DisplayFor(model => model.Month_Header.Custom2)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.Invoice.Custom2)</td>
                </tr>
            }
            @if (Model.Month_Header.Custom3 != null)
            {
                <tr>
                    <td>@Html.DisplayFor(model => model.Month_Header.Custom3)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.Invoice.Custom3)</td>
                </tr>
            }
            @if (Model.Month_Header.Custom4 != null)
            {
                <tr>
                    <td>@Html.DisplayFor(model => model.Month_Header.Custom4)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.Invoice.Custom4)</td>
                </tr>
            }
            @if (Model.Month_Header.Custom5 != null)
            {
                <tr>
                    <td>@Html.DisplayFor(model => model.Month_Header.Custom5)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.Invoice.Custom5)</td>
                </tr>
            }
            <tr class="text-right">
                <td></td>
                <td>Subtotal (Net)</td>
                <td>@Html.DisplayFor(model => model.Invoice.Net)</td>
            </tr>
            <tr class="text-right">
                <td></td>
                <td>Vat</td>
                <td>@Html.DisplayFor(model => model.Invoice.Vat)</td>
            </tr>
            <tr class="text-right">
                <td></td>
                <td>Advance paid</td>
                <td>@Html.DisplayFor(model => model.Invoice.AdvancePaid)</td>
            </tr>
            <tr class="text-right text-danger">
                <td></td>
                <td>Balance due</td>
                <td>&#163; @Html.DisplayFor(model => model.Invoice.Balance)</td>
            </tr>
        </table>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
