@model GiellyGreenApi.Models.CombineSupplierInvoice
@{ Layout = ""; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="http://fonts.cdnfonts.com/css/dax" rel="stylesheet">

    <link href="~/Content/SendEmailStyle.css" rel="stylesheet" />
</head>
<body>
    @{ string strDate = "";
        if (Model.Month_Header.InvoiceDate != null)
        {
            var ArrayDate = Model.Month_Header.InvoiceDate.ToString().Split('-');
            string getDay = ArrayDate[0];
            if (Model.Month_Header.InvoiceMonth < 10)
            {
                strDate = String.Format("{0}/{1}/{2}", getDay, "0" + Model.Month_Header.InvoiceMonth.ToString(), Model.Month_Header.InvoiceYear.ToString());
            }
            else
            {
                strDate = String.Format("{0}/{1}/{2}", getDay, Model.Month_Header.InvoiceMonth.ToString(), Model.Month_Header.InvoiceYear.ToString());
            }
        }

        string path = HttpContext.Current.Server.MapPath("~/ImageStorage");

        if (!Directory.Exists(path))
        {
            Directory.CreateDirectory(path);
        } }
    <div class="container">
        <table width="100%">
            <tr>
                <td width="40%">
                    @if (@Model.Supplier.LogoUrl != null && @Model.Supplier.LogoUrl != "")
                    {
                        string imgPath = Path.Combine(path, path + "\\" + Model.Supplier.LogoUrl);
                        if (System.IO.File.Exists(imgPath))
                        {
        <div>
            <img src="@imgPath" class="logo" />
        </div>}
}
                    <br>
                    <p> @Model.Supplier.SupplierName </p> <p>@Model.Supplier.BusinessAddress</p>
                </td>
                <td width="60%" class="text-right textTop"><div class="text-right h1 textTop">Self Billed Invoice</div></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    <div>
                        <div class="text-right h4">
                            Invoice Date :  @strDate
                        </div>
                        <div class="text-right h4">
                            Invoice Ref :  @Model.Supplier.SupplierReference-@Model.Month_Header.InvoiceReferance
                        </div>
                        <br />
                        @if (Model.Supplier.TaxReference != null)
                        {
            <div class="text-right h4">Tax Ref :  @Model.Supplier.TaxReference</div>}
                        @if (Model.Supplier.VatNumber != null)
                        {
            <div class="text-right h4">VAT Number :  @Model.Supplier.VatNumber</div>}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="text-left LineBreak">
                        <p>
                            To : &nbsp; @Model.Profile.CompanyName
                        </p>
                        <p>
                            &emsp;&emsp; @Model.Profile.AddressLine
                        </p>
                        <p>&emsp;&emsp; @Model.Profile.City - @Model.Profile.Zipcode</p>
                        <p>&emsp;&emsp; @Model.Profile.Country</p>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
        <br />

        <table width="100%">
            <thead>
                <tr class="AddBorder PaddingTop">
                    <th width="60%" class="textCenter">Description</th>
                    <th width="20%"></th>
                    <th width="20%" class="textRight">Amount(GBP)&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Invoice.HairService != null && Model.Invoice.HairService != 0)
                {
    <tr class="AddBorder PaddingTop">
        <td class="AddBorder">&nbsp; Hair Services</td>
        <td class="AddBorder"></td>
        <td class="AddBorder textRight">@Model.Invoice.HairService&nbsp; </td>
    </tr>}
                @if (Model.Invoice.BeautyService != null && Model.Invoice.BeautyService != 0)
                {
    <tr class="AddBorder PaddingTop">
        <td class="AddBorder">&nbsp; Beauty Services</td>
        <td class="AddBorder"></td>
        <td class="AddBorder textRight">@Model.Invoice.BeautyService&nbsp; </td>
    </tr>}

                @if (Model.Invoice.Custom1 != null && Model.Invoice.Custom1 != 0)
                {
    <tr class="AddBorder PaddingTop">
        <td class="AddBorder">&nbsp; @Model.Month_Header.Custom1</td>
        <td class="AddBorder"></td>
        <td class="AddBorder textRight">@Model.Invoice.Custom1&nbsp; </td>
    </tr>
}
                @if (Model.Invoice.Custom2 != null && Model.Invoice.Custom2 != 0)
                {
    <tr class="AddBorder PaddingTop">
        <td class="AddBorder">&nbsp; @Model.Month_Header.Custom2</td>
        <td class="AddBorder"></td>
        <td class="AddBorder textRight">@Model.Invoice.Custom2&nbsp; </td>
    </tr>
}
                @if (Model.Invoice.Custom3 != null && Model.Invoice.Custom3 != 0)
                {
    <tr class="AddBorder PaddingTop">
        <td class="AddBorder">&nbsp; @Model.Month_Header.Custom3</td>
        <td class="AddBorder"></td>
        <td class="AddBorder textRight">@Model.Invoice.Custom3&nbsp; </td>
    </tr>
}
                @if (Model.Invoice.Custom4 != null && Model.Invoice.Custom4 != 0)
                {
    <tr class="AddBorder PaddingTop">
        <td class="AddBorder">&nbsp; @Model.Month_Header.Custom4</td>
        <td class="AddBorder"></td>
        <td class="AddBorder textRight">@Model.Invoice.Custom4&nbsp; </td>
    </tr>
}
                @if (Model.Invoice.Custom5 != null && Model.Invoice.Custom5 != 0)
                {
    <tr class="AddBorder PaddingTop">
        <td class="AddBorder">&nbsp; @Model.Month_Header.Custom5</td>
        <td class="AddBorder"></td>
        <td class="AddBorder textRight">@Model.Invoice.Custom5&nbsp; </td>
    </tr>
}
                <tr class="text-right PaddingTop">
                    <td></td>
                    <td>Subtotal (Net)&nbsp; </td>
                    <td class="AddBorder textRight">@Convert.ToDecimal(Model.Invoice.Net).ToString("N2")&nbsp; </td>
                </tr>
                <tr class="text-right PaddingTop">
                    <td></td>
                    <td>Vat&nbsp; </td>
                    <td class="AddBorder textRight">@Convert.ToDecimal(Model.Invoice.Vat).ToString("N2")&nbsp; </td>
                </tr>
                <tr class="text-right PaddingTop">
                    <td></td>
                    <td>Advance paid&nbsp; </td>
                    @if (Model.Invoice.AdvancePaid > 0)
                    {
                <td class="AddBorder textRight">@Convert.ToDecimal(Model.Invoice.AdvancePaid).ToString("N2")&nbsp; </td>
            }
            else
            {
                <td class="AddBorder textRight">(@Convert.ToDecimal(Model.Invoice.AdvancePaid).ToString("N2"))&nbsp; </td>
            }

                </tr>
                <tr class="text-right PaddingTop">
                    <td></td>
                    <td>Balance due&nbsp; </td>
                    @if (Model.Invoice.Balance > 0)
                    {
        <td class="AddBorder textRight"> @Convert.ToDecimal(Model.Invoice.Balance).ToString("N2")&nbsp; </td>
 }
    else
    {
<td class="AddBorder textRight"> (@Convert.ToDecimal((-1)*(Model.Invoice.Balance)).ToString("N2"))&nbsp; </td>
}
                </tr>
            </tbody>
        </table>
        @if (@Model.Supplier.CompanyRegAddress != "")
        {
<div class="footer">
    <p>Company register number : &nbsp;@Model.Supplier.CompanyRegNumber <br> Company register address : &nbsp; @Model.Supplier.CompanyRegAddress</p>
</div>}
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
